@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(70,130,180, 255);
}

.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}

.logo {
  height: 80px;
}

.logo img {
  width: 150px;
  height: 150px;
}

.menu {
  margin-top: 100px;
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background: #e0e0e058;
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.logout {
  margin-top: 300px;
}

.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.header--wrapper img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header--title {
  color: rgba(70,130,180, 255);
}

.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searh--box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(70,130,180, 255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}

.searh--box input {
  background: transparent;
  padding: 10px;
}

.searh--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.searh--box i:hover {
  transform: scale(1.2);
}

.card--container {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main--title {
  color: rgba(70,130,180, 255);
  padding-bottom: 10px;
  font-size: 15px;
}

.main--title .tambah-data {
  text-decoration: none;
}
.main--title .fa-upload {
  color: rgba(70,130,180, 255);
  margin-left: 8px;
  transition: all 0.5s ease-out;
}

.main--title .fa-upload:hover {
  color: brown;
  transform: scale(1.2);
}

.payment--card {
  background: rgb(299, 223, 223);
  border-radius: 10px;
  padding: 1.2rem;
  margin-left: 30px;
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.payment--card:hover {
  transform: translateY(-5px);
}

.card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.amount {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  font-weight: 200;
}

.amount--value {
  font-size: 24px;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  font-weight: 600;
}

.fa-layer-group {
  color: #fff;
  padding: 1rem;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background: red;
}

.fa-chart-simple {
  color: #fff;
  padding: 1rem;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background: red;
}

.light-red {
  background: rgb(251, 233, 233);
}
.light-purple {
  background: rgb(236, 225, 236);
}
.light-green {
  background: rgb(235, 254, 235);
}
.light-blue {
  background: rgb(236, 236, 254);
}
.dark-red {
  background: red;
}
.dark-purple {
  background: purple;
}
.dark-green {
  background: green;
}
.dark-blue {
  background: blue;
}

.tabular--wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: rgba(70,130,180, 255);
  color: #fff;
}

th {
  padding: 15px;
  text-align: left;
}

tbody {
  background: #f2f2f2;
}

td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even) {
  background: #fff;
}

.table-container a {
  background: none;
  cursor: pointer;
  padding: 10px;
  color: rgba(70,130,180, 255);
  text-decoration: none;
}